.h1 Connect with customers and drive traffic to your site
%div{"so-ruler" => ''}
.style-container
  .h2 Choose a style for your ShoutOut
  .table1
    .templates
      %ul
        %li option1
        %li option2
        %li option3
    .preview
      %div{"ng-include" => "'views/landing.html'"}
  .buttons
    %button.prev-btn{"ng-click" => "prev()"}Back   
    %button.next-btn{"ng-click" => "next()"}Next   
