%div{"so-ruler" => ''}
.complete-container
  Message sent successfuly
  %br
  Message URL: 
  %a{:href => 'http://localhost:9000/#/landing?id={{messageId}}'} http://localhost:9000/#/landing?id={{messageId}}
  %br
  %br
  %button.prev-btn{"ng-click" => "prev()"}Prev   
  %button.next-btn{"ng-click" => "startOver()"}Start Over   