.contacts-container
  %div{"so-ruler" => ''}
  .add
    %input.add.input{"ng-model" => "contactsToAdd"}
    %button.add.btn{"ng-click" => "addContacts()"} Add
  %br
  %input{:type => "checkbox", "ng-click" => "selectAll()", "ng-model" => "allSelected", :style => "margin-left: 100px"} Select All
  %br
  .contacts
    %table
      %tr.contact{"ng-repeat" => "contact in contacts"}
        %td
          %input{:type => "checkbox", "ng-model" => "contact.selected"}
        %td{:style => "width: 150px"} {{contact.name}}
        %td {{contact.email}}  
  .paging{"ng-controller" => "PaginationCtrl"}
    %pagination{"total-items" => "totalContacts", "page" => "currentPage"}
  %br
  %button.prev-btn{"ng-click" => "prev()"}Prev   
  %button.next-btn{"ng-click" => "next()"}Next   
