.h1 Connect with customers and drive traffic to your site
%div{"so-ruler" => ''}
.h2 Use text, images, videos & links to create your Shoutout
.msg-container
  .msg-container.text
    %textarea.msg-container.text.text-area{"ng-model" => "messageData.text"}
  .msg-container.media
    .media-input{"ng-switch" => "imageInput"}
      %button.btn.bg-pic{"ng-click" => "attachPhoto()", "ng-switch-when" => 'none'}
        Photo
      .selected{"ng-switch-when" => 'added'}
        %img.cropped-img{"ng-src" => "{{messageData.imageUrl}}"}
        %button.close{:type => "button", "ng-click" => "removePhoto()"} 
    .media-input{"ng-switch" => "videoInput"} 
      %button.btn.bg-vid{"ng-click" => "attachVideo()", "ng-switch-when" => 'none'} 
        Video
      .selected{"ng-switch-when" => 'added'}   
        %img.media-input.selected{"ng-src" => "{{messageData.videoUrl}}"}
        %button.close-btn{"ng-click" => "removeVideo()"} 
    .media-input 
      %button.btn.bg-link 
        Link 
      %img.media-input.selected{"ng-src" => "{{messageData.linkUrl}}"}
    %button.next-btn{"ng-click" => "next()"}Next   