.ruler
  %hr.line
  %div{:class => '{{stepClass[0]}}'}
    %button.step-btn{"ng-click" => "setState('message')", :type => 'button'}
      %span{"ng-show" => "currentStep < 2"} 1
    .step-title Write a message
  %div{:class => '{{stepClass[1]}}'}
    %button.step-btn{"ng-click" => "setState('choose-style')", :type => 'button'}
      %span{"ng-show" => "currentStep < 3"} 2
    .step-title Choose a style
  %div{:class => '{{stepClass[2]}}'}
    %button.step-btn{"ng-click" => "setState('contacts')", :type => 'button'}
      %span{"ng-show" => "currentStep < 4"} 3
    .step-title Add contacts
  %div{:class => '{{stepClass[3]}}'}
    %button.step-btn{"ng-click" => "setState('send')", :type => 'button'}
      %span{"ng-show" => "currentStep < 5"} 4
    .step-title Shoutout
