.ruler
  %hr.line
  .step{:class => '{{stepClass[0]}}'}
    %button.btn{"ng-click" => "setState('message')"}
      1
    .title Write a message
  .step{:class => '{{stepClass[1]}}'}
    %button.btn{"ng-click" => "setState('choose-style')"}
      2
    .title Choose a style
  .step{:class => '{{stepClass[2]}}'}
    %button.btn{"ng-click" => "setState('contacts')"}
      3
    .title Add contacts
  .step{:class => '{{stepClass[3]}}'}
    %button.btn{"ng-click" => "setState('send')"}
      4
    .title Shoutout
