.ruler
  %button{:class => '{{stepClass[0]}}'}
    1
  %hr.line
  %button{:class => '{{stepClass[1]}}'}
    2
  %hr.line
  %button{:class => '{{stepClass[2]}}'}
    3
  %hr.line
  %button{:class => '{{stepClass[3]}}'}
    4