.ruler
  %hr.line
  .ruler-step{:class => '{{stepClass[0]}}'}
    %button.step-btn{"ng-click" => "setState('message')", :type => 'button'}
      %span {{stepValue[0]}}
    .step-title Write a message
  .step{:class => '{{stepClass[1]}}'}
    %button.step-btn{"ng-click" => "setState('choose-style')", :type => 'button'}
      %span {{stepValue[1]}}
    .step-title Choose a style
  .step{:class => '{{stepClass[2]}}'}
    %button.step-btn{"ng-click" => "setState('contacts')", :type => 'button'}
      %span {{stepValue[2]}}
    .step-title Add contacts
  .step{:class => '{{stepClass[3]}}'}
    %button.step-btn{"ng-click" => "setState('send')", :type => 'button'}
      %span {{stepValue[3]}}
    .step-title Shoutout
