.h1 Connect with customers and drive traffic to your site
%div{"so-ruler" => ''}
.send-container
  .h2 Send your ShoutOut
  .sender-details 
    Sender:
    %input.sender-name{"ng-model" => "senderName"}
  .buttons
    %button.next-btn{"ng-click" => "send()"}Next
    %button.prev-btn{"ng-click" => "prev()"}Back   