%div{"so-ruler" => ''}
.send-container
  .sender-details 
    Sender:
    %input.sender-name{"ng-model" => "senderName"}
  %br
  %button.send-btn{"ng-click" => "send()"} Send
  %br  
  %button.prev-btn{"ng-click" => "prev()"}Prev   